
{% extends 'base.html.twig' %}

{% block title %}Suppression de série{% endblock %}

{% block body %}
    <h1>Supprimer la série "{{ program.title }}"</h1>

    <form method="post" action="{{ path('program_delete', {'id': program.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn">Delete</button>
    </form>

    <a href="{{ path('program_index') }}">Retour à la liste des séries</a>
{% endblock %}

